body {
    background-color: lightslategrey;
    color: antiquewhite;
    font-family: "raleway", sans-serif;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 5px;
}